<div class="input-group mb-1">
    <button id="excelExport" class="btn btn-outline-success mb-1" @onclick="@ClickExportXLS">
        <i class="oi oi-cloud-download"></i>
        평가리스트 다운로드
    </button>
</div>
<DisplayResultText Comment="@Comment" />