<div class="row">
    <div class="col-md-12">
        @foreach (var item in objectList)
        {
            <div class="card">
                <div class="card-header">
                    <h4>@item.ObjectiveTitle</h4>
                </div>
                <div class="card-body">
                    <pre>@item.ObjectiveContents</pre>
                </div>
                @if (isEdit)
                {
                    @if (isMain)
                    {
                        <div class="card-footer">
                            <span>전사목표 :</span>
                            <button type="button" class="btn btn-outline-info" @onclick="(() => urlActions.MoveMainObjectiveEditPage(item.DeptObjectiveDbId))">수정</button>
                            <button type="button" class="btn btn-outline-danger" @onclick="(() => urlActions.MoveMainObjectiveDeletePage(item.DeptObjectiveDbId))">삭제</button>
                        </div>
                    }
                    else
                    {
                        <div class="card-footer">
                            <span>부서목표 :</span>
                            <button type="button" class="btn btn-outline-info" @onclick="(() => urlActions.MoveSubObjectiveEditPage(item.DeptObjectiveDbId))">수정</button>
                            <button type="button" class="btn btn-outline-danger" @onclick="(() => urlActions.MoveSubObjectiveDeletePage(item.DeptObjectiveDbId))">삭제</button>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>
