@namespace MdcHR26Apps.BlazorServer.Components.Pages.Components.Agreement.Modal
@rendermode InteractiveServer

@if (model != null)
{
    <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay; overflow-y: auto;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">직무 삭제</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="() => Close()">
                    </button>
                </div>
                <div class="modal-body">
                    <p>직무를 삭제하시겠습니까?</p>
                    <p>평가지표 : @model.Report_Item_Name_1</p>
                    <p>평가직무 : @model.Report_Item_Name_2</p>

                    @if (!string.IsNullOrEmpty(resultText))
                    {
                        <div class="alert alert-info">@resultText</div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="DeleteUserAgreement">예(Yes)</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">아니요(No)</button>
                </div>
            </div>
        </div>
    </div>

    @if (ShowBackdrop)
    {
        <div class="modal-backdrop fade show"></div>
    }
}
