@namespace MdcHR26Apps.BlazorServer.Components.Pages.Components.SubAgreement.CommonView
@rendermode InteractiveServer

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else if (items.Count == 0)
{
    <p><em>합의된 직무가 없습니다.</em></p>
}
else
{
    <div class="row mb-3">
        <div class="col-12">
            <h5>
                합의된 직무 수: @itemCount 개
                <span @onclick="() => Toggle.InvokeAsync()" class="@IconClass" style="cursor: pointer;"></span>
            </h5>
        </div>
    </div>

    @if (Collapsed)
    {
        <hr />
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    @foreach (var item in items)
                    {
                        <li class="list-group-item">
                            <label>
                                @if (item.ItemCompleteStatus)
                                {
                                    @CheckedCode
                                }
                                @item.ItemName ( @item.ItemPeroportion % ) :
                            </label>
                            @item.ItemSubPeroportion %
                        </li>
                    }
                </ul>
            </div>
        </div>
        <hr />
    }
}
