@page "/DeptObjective/SubObjective/Delete/{Id:long}"

<PageTitle>조직목표 삭제</PageTitle>

<h3>조직목표 삭제</h3>
<hr />

<DisplayResultText Comment="@resultText" />

@if (model == null)
{
    <LoadingIndicator />
}
else
{
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="model" OnValidSubmit="DeleteObjective">
                <label for="ObjectiveTitle" class="form-label mb-1">목표명</label>
                <div class="input-group mb-1">
                    <InputText id="ObjectiveTitle" class="form-control" placeholder="목표명"
                               @bind-Value="@model.ObjectiveTitle" disabled></InputText>
                </div>
                <label for="ObjectiveContents" class="form-label mb-1">내용</label>
                <div class="input-group mb-1">
                    <InputTextArea id="ObjectiveContents" class="form-control mb-1" rows="10" @bind-Value="@model.ObjectiveContents" disabled>
                    </InputTextArea>
                </div>
                <hr />
                <div class="input-group mb-1">
                    <button type="submit" id="createbutton" class="btn btn-danger">삭제</button>
                    <button type="button" id="cancelbutton" class="btn btn-light" @onclick="MoveSubObjectivePage">목록</button>
                </div>
            </EditForm>
        </div>
    </div>
}