html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk2NEwyNzEuNzA1IDU5LjE1OTZMMjgzLjQxMiA3NC4zNDE1QzI4NC4yMDUgNzUuNzY4NSAyODQuMjA1IDc2LjYzMTUgMjgzLjQxMiA3OC4wNTg1TDI2MC4yMjggOTguNjg5NUM1OS44MTg2IDk5LjE5MTcgMjU4LjU4NSA5OS4xOTE3IDI1Ny41NzkgOTguNjg5NUwyMzUuMzkxIDc4LjA1ODVDMjM0LjU5OCA3Ni42MzE1IDIzNC41OTggNzUuNzY4NSAyMzUuMzkxIDc0LjM0MTVMMTI0Ni4yOTUgNTkuMTU5NkwyNTEuOTQ4IDUyLjc5NjRMMjUyLjM5NCA1Mi4yNjU4QzI1My4xODcgNTEuNDgzNyAyNTQuMjgzIDUxIDI1NS40OTQgNTFIMjYzLjUwNloiIGZpbGw9IiNGRjYwNjAiIHN0cm9rZT0iI0ZGNjA2MCIgc3Ryb2tlLXdpZHRoPSI0Ii8+PHBhdGggZD0iTTI2My4xNjUgNjAuMTY0NkMyNjQuMTU0IDU5LjQzNTUgMjY1LjM1OSA1OS40MzU1IDI2Ni4zNDggNjAuMTY0NkwyNzguNjkgNzEuMDI0N0MyNzkuNjc5IDcxLjc1MzcgMjc5LjY3OSA3Mi44MDcxIDI3OC42OSA3My41MzYyTDI2My4xNjUgODYuOTU5M0MyNjQuMTU0IDg3LjY4ODQgMjY1LjM1OSA4Ny42ODg0IDI2Ni4zNDggODYuOTU5M0wyNzguNjkgNzYuMDk5MkMyNzkuNjc5IDc1LjM3MDEgMjc5LjY3OSA3NC4zMTY3IDI3OC42OSA3My41ODc3TDI2Ni4zNDggNjIuNzI3NkMyNjUuMzU5IDYxLjk5ODUgMjY0LjE1NCA2MS45OTg1IDI2My4xNjUgNjIuNzI3NkwyNTAuODIzIDczLjU4NzdDMjQ5LjgzNCA3NC4zMTY3IDI0OS44MzQgNzUuMzcwMSAyNTAuODIzIDc2LjA5OTJMMjYzLjE2NSA4Ni45NTkzWiIgZmlsbD0iI0ZGRkZGRiIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}
