@page "/Admin"
@page "/Admin/Index"

<PageTitle>관리자 페이지</PageTitle>

<h3>관리자 페이지</h3>
<hr />
<div class="input-group mb-1">
    <button class="btn btn-primary" @onclick="UserManagePage">사용자관리페이지</button>
    <button class="btn btn-secondary" @onclick="EUserManagePage">평가대상자관리페이지</button>
    <button class="btn btn-warning" @onclick="MoveSettingManagePage">기초정보관리페이지</button>
    @* <button class="btn btn-success" @onclick="MoveTotalReportAdminMainPage">평가관리페이지</button> *@
</div>
