@namespace MdcHR26Apps.BlazorServer.Components.Pages.Components.SubAgreement.ViewPage
@rendermode InteractiveServer

<h3>?¸ë?ì§ë¬´?‰ê? ëª©ë¡</h3>

@if (subAgreements == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SubAgreementDbListTable subAgreementDbs="subAgreements" OnDetailsClick="HandleDetailsClick" />
}
