@page "/Admin/TotalReport"
@page "/Admin/TotalReport/Index"
@rendermode InteractiveServer

<PageTitle>전체 평가</PageTitle>

<h3>전체 평가</h3>
<hr />

<SearchbarComponent searchTerm="@searchTerm"
                    SearchAction="HandleSearchValueChanged"
                    SearchInitAction="SearchInit" />

@if (processTRLists == null || reportTaskLists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="input-group mb-1">
        <!-- 엑셀 다운로드 버튼 -->
        <AdminTaskViewExcel ReportTaskListDB="reportTaskLists" CommentChanged="HandleCommentChanged" />
        <AdminViewExcel ProcessTRLists="processTRLists" CommentChanged="HandleCommentChanged" />
    </div>
    <DisplayResultText Comment="@comment" />
    <hr />
    <AdminReportListView processTRLists="processTRLists" />
}
