@namespace MdcHR26Apps.BlazorServer.Components.Pages.Components.Report.ViewPage
@rendermode InteractiveServer

<div class="row">
    <div class="card col-12 col-md-12">
        <div class="card-header">
            <h4>
                @TotalReportListDB.UserName 님 최종평가
            </h4>
        </div>
        <div class="card-body">
            @if (totalScore != 0)
            {
                <em><strong> - 종합점수 : @totalScore.ToString() / 100 점</strong></em>
                <hr />
            }
            <table class="table table-bordered table-responsive-md mt-0 pt-0 mb-0 pb-0">
                <thead>
                    <tr class="row">
                        <th class="col-6" scope="col" style=@table_style_1>2026년 종합평가</th>
                        <th class="col-6" scope="col" style=@table_style_1>미래성장방안</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        <td class="col-6" style=@table_style_2>
                            @TeamLeader_Comment
                        </td>
                        <td class="col-6" style=@table_style_2>
                            @((MarkupString)replaceString(Feedback_Comment))
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-responsive-md mt-0 pt-0">
                <thead>
                    <tr class="row">
                        <th class="col-12" scope="col" style=@table_style_1>종합평가</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        <td class="col-12" style=@table_style_2>
                            @Director_Comment
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
