@namespace MdcHR26Apps.BlazorServer.Components.Pages.Components.Report.ViewPage
@rendermode InteractiveServer

<h3>사용자 전체 리포트</h3>

@if (reports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TeamLeader_TotalReportList reports="reports" />
}
