@namespace MdcHR26Apps.BlazorServer.Components.Pages.Components.Agreement.ViewPage
@rendermode InteractiveServer

<h3>ì§ë¬´?‰ê? ëª©ë¡</h3>

@if (agreements == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AgreementDbListTable agreementDbs="agreements" OnDetailsClick="HandleDetailsClick" />
}
